{% extends 'layout.html' %}
{% load static %}
{% block body %}
{#style="background-image: url('{% static 'images/page1-2.jpg' %}');"#}
{#style="background-image: url('{% static 'path/to/your/image.jpg' %}'); background-size: cover; background-position: center;"#}
<div class="container-fluid " style="background-color: ghostwhite">
    <div class="row" >
        <div class="col-md-3 mt-5 pt-5 pb-5 justify-content-center">
            <img src="{% static 'images/Salama_icon.png' %}" alt="" >
        </div>
        <div class="col-md-9 pt-5 mt-5 p-b-5 justify-content-center" style="background-color: whitesmoke">
            <div class="row justify-content-center">
                <h3 style="color: #000080">Who We Are</h3>
            </div>
            <div class="row pt-3" >
                <h3 style="color: black; font-family: 'garamond', cursive;">Salama Milers limited is a Kenya based company that processes, produces and sells maize flour, animal feeds and cereals. </h3>
                <p><h3 style="color: black; font-family: 'garamond', cursive;">We strictly monitor ALL our raw material and finished product quality through a well-equipped modern laboratory with highly trained and qualified technicians. They ensure every batch of raw material is tested for quality as well as ensuring finished goods meet our set standards.</h3></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " style="background-color: ghostwhite">
    <div class="row text-black ">

        <div class="col-md-3 ">
            <div class="row">
                <img src="{% static 'images/canna_maize_meal.png' %}" alt="" >
            </div>
            <div class="row">
                <h4>Salama maize meal</h4>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row">
                <img src="{% static 'images/animal_feeds.png' %}" alt="" >
            </div>
            <div class="row">
                <h4>Animal feeds</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}
